/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**{
	border: solid red 3px;
}*/

body{
	background-color: #BCBEC0;
	font-family: 'Century Gothin', Arial, Tahoma, sans-serif;
}

h1{
	text-transform: uppercase;
	text-align: center;
}

h1, p{
	color: #000;
}

span{
	color: #387747;
}


/*header*/
header{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #231F20 
}

ul{
	position: absolute;
    top: 55px;
    left: 228px;
    width: 570px;
    height: 35px;
}

li{	
	color: #FFF;
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 10px;
}

.logo{
	position:absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 200px;
}

.search_box{
	margin-left:950px;
	margin-right: 0px;
	top: 150px;
	left: 500px;
	width: 250px;
	height: 30px;
	background-color: #BCBEC0;
	border-radius: 10px;	
}

.mag_green {
    position: absolute;
    top: 10px;
    right: 44px;
    width: 40px;
    height: 30px;
    background-color: #387747;
    border-radius: 10px;
}

.mag_pic{
	top: 150px;
	left: 700px;
	height:30px;
	width: 35px;
}



/*slide banner*/
.slide{
	position: relative;
	top: 0px;
	width: 100%;
}

.slide_butttons{
    position: relative;
    width: 118px;
    bottom: 50px;
    left: 600px;
}

.slide_button_nav{
	width: 25px;
    height: 25px;
    background-color: #FFF;
    border-radius: 50px;
    display: inline-block;
}

/*featured dancer and current news*/
.stuff{
	display: inline-flex;
	flex-flow: row wrap;
	width: 900px;
	margin-left: 70px;
	margin-bottom: 25px;
	justify-content: space-around;
}

.twitter{
	display: inline-flex;
	width: 300px;
	height: 750px;
}
.fd_title, .news_heading{
	width: 800px;
	height: 75px;
}

.fd_img{
	width: 225px;
	height: 225px;
}

.fd_text{
	width: 550px;
	height: 225px;
}

.news_item{
	width: 265px;
	height: 300px;
}
.news_img{
	width: 260px;
	height: 160px;
}

.individuals, .crews{
	display: flex;
	width: 1200px;
	flex-flow: row wrap;
	justify-content: space-between;
}

.dancers_heading{
	width: 1200px;
	text-align: center;
}

img.dancer_pic{
	width: 200px;
	height:200px;
}

img.crew_pic{
	width:350px;
	height: 200px
}

.dancer_name, .crew_name{
	text-align: center;
}


/*footer*/
footer{
	background-color: #231F20;
	height: 100px;
}

footer p{
	color: #FFF;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop */
@media only screen and (min-width: 1200px) {
	#screen_1200 {
		display: block;
	}

}
/* Tablet */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	#screen_992 {
		display: block;
	}

}
/* Mobile */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 18px;
	}
	img {
		width: 100%;
	}
	#screen_768 {
		display: block;
	}
}
/* Smaller Mobile */
@media only screen and (max-width: 767px) {
	#screen_small {
		display: block;
	}
}

/* Specific Mobile Device Media Queries */

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) { 
	#screen_iPhone6Plus {
		display: block;
	}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (device-aspect-ratio: 375/667) { 
	#screen_iPhone6 {
		display: block;
	}
}

/* ----------- Galaxy S5 / Android ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) {
	#screen_GalaxyS5{
		display: block;
	}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (device-aspect-ratio: 40/71) {
	#screen_iPhone5 {
		display: block;
	}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3) {
	#screen_iPhone4 {
		display: block;
	}
}