/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**{
	border: solid red 3px;
}*/

body{
	background-color: #BCBEC0;
	font-family: 'Open Sans', Arial, Tahoma, sans-serif;
}

h1{
	text-transform: uppercase;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 50px;
}

h4{
	width: 80px;
	margin:6px 0px;
	float:right;
}

p{
	font-size: 20px;
}

h1, p{
	color: #000;
}

span{
	color: #387747;
}


/*header*/
header{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #231F20;
}

ul {
	text-align: center;
	position: absolute;
    top: 45px;
    left: 220px;
    width: 570px;
    height: 35px;
}

li.nav {	
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 10px;
	font-family: 'Droid Sans'
}

a{
	color: #FFF;
	font-size: 30px; 
}

a:hover, a:active{
	color: #387747;
	text-decoration: none;
}

a.crew_name, a.dancer_name{
	font-family: 'graduate' , sans-serif;;
	color: #000;
}

.logo {
	position:absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 200px;
}

.search_box{
	margin-left:950px;
	margin-right: 0px;
	top: 150px;
	left: 500px;
	width: 250px;
	height: 30px;
	background-color: #BCBEC0;
	border-radius: 10px;	
}

.mag_green {
    position: absolute;
    top: 10px;
    right: 44px;
    width: 40px;
    height: 30px;
    background-color: #387747;
    border-radius: 10px;
}

.mag_pic{
	top: 150px;
	left: 700px;
	height:30px;
	width: 35px;
}



/*slide banner*/
.slide{
	position: relative;
	top: 100px;
	width: 100%;
	margin-bottom: 70px;
}

.slide_butttons{
    position: relative;
    width: 118px;
    bottom: 20px;
    left: 600px;
}

.slide_button_nav{
	width: 25px;
    height: 25px;
    background-color: #FFF;
    border-radius: 50px;
    display: inline-block;
}

/*featured dancer and current news*/
.home{
	display: inline-flex;
	flex-flow: row wrap;
	width: 970px;
	margin-left: 30px;
	margin-bottom: 25px;
	justify-content: space-between;
}

.twitter{
	display: inline-flex;
	width: 300px;
	height: 750px;
}
.fd_title, .news_heading{
	width: 970px;
	height: 75px;
	text-align: center;
}

.fd_img{
	width: 225px;
	height: 225px;
}

.fd_text{
	width: 700px;
	height: 225px;
}

.news_item{
	width: 265px;
	height: 400px;
}
.news_img{
	width: 260px;
	height: 160px;
}

/* dancers page */
.individuals, .crews{
	position: relative;
	top: 100px;
	display: flex;
	width: 1200px;
	height: 900px;
	flex-flow: row wrap;
	justify-content: space-around;
}

.crews{
	margin-bottom: 30px;
	padding-bottom: 80px;
}

.dancers_heading{
	width: 1200px;
	text-align: center;
}
div.dancer{
	width:200px;
}

img.dancer_pic{
	width: 200px;
	height:200px;
}

div.crew{
	width:350px;
}

img.crew_pic{
	width:350px;
	height: 200px
}

.dancer_name, .crew_name{
	text-align: center;
	font-family: 'Glegoo', serif;
	font-size: 20px;
}

/*crew pages and individual pages*/
.mem_list, .afil_list{
	list-style-type: none;
	padding: 0px;
}

.meminlist, .afilinlist{
	list-style-type: none;
	text-align: center;
	padding:4px;
}

.container{
	margin-bottom: 40px;
}

/*info*/
.title{
	position: relative;
	top: 100px;
}

.c_main{
	display: inline-flex;
	flex-flow: row wrap;
	width: 900px;
	position: relative;
	top: 100px;
}

.crew_img, .crew_bio{
	width: 900px;
}

.crew_img{
	height:500px;
}


.i_side{
	display: inline-flex;
	flex-flow: row wrap;
	width: 400px;
	position: relative;
	top: 100px;
}

.i_main{
	display: inline-flex;
	flex-flow: row wrap;
	width: 900px;
	position: relative;
	top: 100px;
}

.individual_img{
	width: 300px;
	height: 300px;
}

.c_side{
	display: inline-flex;
	flex-flow: row wrap;
	width: 400px;
	position: relative;
	top: 100px;
}

.box_title{
	width: 300px;
	text-align: center;
	background-color: #231F20;
	color: #FFF;
	margin:0px;
	padding: 15px 0px;
}

/*members*/
.members{
	display: flex;
	flex-flow: row wrap;
	width: 300px;
}

.members_list, .affiliations_list{
	background-color: #E0DCDC;
	width: 300px;
	margin-bottom: 30px;
}

/*events*/
.events{
	display: flex;
	flex-flow: row wrap;
	width: 300px;
}

.events_img{
	width:300px;
	height: 275px;
}

/*social media*/
.c_social{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 300px;
}

.c_social{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 1300px;
}

.sm_combo{
	width: 250px;
	display: inline-block;
}
.sm{
	width: 30px;
	height: 30px;
	display: inline;
	float: left;
}

/*footer*/
footer{
	background-color: #231F20;
	height: 70px;
	padding: 20px 0px;
	position: relative;
	bottom: 0px;
	left: 0px;
}

footer p{
	color: #FFF;
	text-align: center;
	
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop */
@media only screen and (min-width: 1200px) {
	#screen_1200 {
		display: block;
	}

}
/* Tablet */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	#screen_992 {
		display: block;
	}

}
/* Mobile */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#screen_768 {
		display: block;
	}
}
/* Smaller Mobile */
@media only screen and (max-width: 767px) {
	#screen_small {
		display: block;
	}
}

/* Specific Mobile Device Media Queries */

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) { 
	#screen_iPhone6Plus {
		display: block;
	}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (device-aspect-ratio: 375/667) { 
	#screen_iPhone6 {
		display: block;
	}
}

/* ----------- Galaxy S5 / Android ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) {
	#screen_GalaxyS5{
		display: block;
	}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (device-aspect-ratio: 40/71) {
	#screen_iPhone5 {
		display: block;
	}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3) {
	#screen_iPhone4 {
		display: block;
	}
}