<header>

<div class="container">
 
  <a href="/index.html"><img class="logo" src="{{ "/img/logo.jpg"  | prepend: site.baseurl }}" alt=""></a>
    <nav> 
      <ul>
        <li class="nav"><a href="/events.html">Events</a></li>
        <li class="nav"><a href="/dancers/index.html">Dancers</a></li>
        <li class="nav"><a href="/news.html">News</a></li>
        <li class="nav"><a href="/learn.html">Learn</a></li>
      </ul>
    </nav>

  <div class="search_box">
    <h6>Search...</h6>
    <div class="mag_green">
      <img class="mag_pic" src="{{ site.serach | prepend: site.baseurl }}" alt="">
    </div>
  </div>

</div>

</header>
