---
layout: default
title: Dancers
---

<div class="container individuals">
	<h1 class="dancers_heading">individuals</h1>
	{% for dancer in site.pages %}
	  {% if dancer.type == 'individual' %}
		<div class="dancer">
		  <img class="dancer_pic" src="{{ dancer.image.url }}" alt="{{ dancer.image.alt }}">
		  <a class="dancer_name" href="{{dancer.url}}">{{dancer.title}}</a>
		</div>
	  {% endif %}
	{% endfor %}
</div>

<div class="container crews">
	<h1 class="dancers_heading">dance crews</h1>
	{% for crew in site.pages %}
	  {% if crew.type == 'crew' %}
		<div class="crew">
		  <img class="crew_pic" src="{{ crew.image.url }}" alt="{{ crew.image.alt }}">
		  <a class="crew_name" href="{{crew.url}}">{{crew.title}}</a>
		</div>
	  {% endif %}
	{% endfor %}
</div>

<!-- <a href="{{dancer.url}}"></a> -->
