---
layout: default
title: Dancers
---
<!--individual dancers-->
<div class="container individuals">
	<h1 class="dancers_heading">individuals</h1>
	{% for profile in site.pages %}
	  {% if profile.type == 'individual' %}
		<div class="dancer">
		  <img class="dancer_pic" src="{{ profile.image.url }}" alt="{{ profile.image.alt }}">
		  <a class="dancer_name" href="{{profile.url}}">{{profile.title}}</a>
		</div>
	  {% endif %}
	{% endfor %}
</div>


<!--dance crews-->
<div class="container crews">
	<h1 class="dancers_heading">dance crews</h1>
	{% for profile in site.pages %}
	  {% if profile.type == 'crew' %}
		<div class="crew">
		  <img class="crew_pic" src="{{ profile.image.url }}" alt="{{ profile.image.alt }}">
		  <a class="crew_name" href="{{profile.url}}">{{profile.title}}</a>
		</div>
	  {% endif %}
	{% endfor %}
</div>