body{
	background-color: #FFFFFF;
	font-family:'Varela Round', sans-serif;
	margin-left: 200px;
	margin-right: 200px;
}
h1{
	font-family: 'Oswald';
	font-size: 40px;
	text-align:center;
	background-color: #00CC99;
	border-radius: 15px;
}

h2 {
	text-align: center;
	background-color: #3D5C5C;
	border-radius: 10px;
}

p{
	text-align: center;
}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

img.kinjaz{
	width: 475px;
	height: 300px;
}

img.mos{
	width: 450px;
	height: 300px;
}

img.ime{
	width: 500px;
	height: 300px;
}

.logos {
	width: 150px;
	height: 150px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.last {
	margin-top: 50px;
}



