---
layout: default
---
{% for crew in site.pages %}
  {% if crew.type == 'crew' %}

	<!--breadcrumbs-->
	<p class="breadcrumbs">Dancer &gt <span>{{crew.title}}</span></p>


	<!--crew info-->
	<article class="post">
		<h1>{{dancer.title}}</h1>

		<div class="post-content" itemprop="articleBody">
			<img src=" {{crew.image.url }}" alt=" {{crew.image.alt }}">
			<p>{{ content }}</p>
		</div>
	</article>

	<!--core members-->
	<aside>
		<h3>Core Members</h3>
		<div>
		</div>
	</aside>


	<!--upcoming appearances-->
	<aside>
		<h3>Upcoming Appearances</h3>
		<img src="{{crew.event-image}}" alt="">
		<div>button</div>
		<div>button</div>
	</aside>	


	<!--social media-->
	<aside>
		<div class="sm_combo">
			<img class="sm" src="{{site.youtube}}" alt="">
			<p>{{crew.youtube}}</p>
		</div>

		<div class="sm_combo">
			<img class="sm" src="{{site.facebook}}" alt="">
			<p>{{crew.facebook}}</p>
		</div>

		<div class="sm_combo">
			<img class="sm" src="{{site.twitter}}" alt="">
			<p>{{crew.twitter}}</p>
		</div>

		<div class="sm_combo">
			<img class="sm" src="{{site.instagram}}" alt="">
			<p>{{crew.instagram}}</p>
		</div>

		<div class="sm_combo">
			<img class="sm" src="{{crew.crew.logo}}" alt="">
			<p>{{crew.crew-url}}</p>
		</div>
	</aside>

  {% endif %}
{% endfor %}