---
layout: default
---

<!--breadcrumbs-->
<p class="breadcrumbs">Dancer &gt {{page.crew-name}} &gt <span>page.dancer-name</span></p>


<!--crew info-->
<article class="post">

	<header class="post-header">
		<h1>{{page.individual-name}}</h1>
	</header>

	<div class="post-content" itemprop="articleBody">
		<img src=" {{page.individual-image }}" alt="">
		<p>{{content}}</p>
	</div>
</article>

<!--affiliations-->
<aside>
	<h3>Affiliations</h3>
	<!-- <div>
		{% for member in site.data.dancers %}
		  {% if member.crew == page.crew-name %}
		  <h5>
		    <a class="" href="{{ member.name | prepend: site.baseurl }}">{{ member.name }}</a>
		  </h5>
		  {% endif %}
		{% endfor %}
	</div> -->
</aside>


<!--upcoming appearances-->
<aside>
	<h3>Upcoming Appearances</h3>
	<img src="{{page.event-image}}" alt="">
	<div>button</div>
	<div>button</div>
</aside>	


<!--social media-->
<aside>
	<img src="{{site.youtube}}" alt="">
	<p>{{site.data.dancers.youtube}}</p>

	<img src="{{site.facebook}}" alt="">
	<p>{{site.data.dancers.facebook}}</p>

	<img src="{{site.twitter}}" alt="">
	<p>{{site.data.dancers.twitter}}</p>

	<img src="{{site.instagram}}" alt="">
	<p>{{site.data.dancers.instagram}}</p>

	<img src="{{page.individual.logo}}" alt="">
	<p>{{site.data.dancers.website}}</p>

</aside>